body {
    font-family: Calibri;
}

.help-inline {
    color: red;
    font-size: smaller;
}

th, td {
    padding: .5em 1em;
    vertical-align: middle;
}

.input-text {
    padding: .5em 1em;
    margin: 0 1em;
}

.img-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

textarea {
    resize: none;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: .5em;
    display: none;
}
