
<table>
    <tbody>
        <tr>
            <td colspan="3">
                <input type="text" ng-model="search" class="search-query input-text" placeholder="Search">
                <a href="#/new"><span class="btn btn-warning">Add</span></a>
            </td>
        </tr>
        <tr ng-repeat="project in projects | orderByPriority | filter:search | orderBy:'name'">
            <td>
                <a href="#/edit/{{project.$id}}"><span class="btn btn-info">Edit</span></a>
            </td>
            <td>
                <a href="{{project.site}}" target="_blank">{{project.name}}</a>
            </td>
            <td>{{project.description}}</td>

        </tr>
    </tbody>
</table>